<footer>
  <section>
    <div class="icon">
      <img src="/images/logo-estrena.png" alt="">
    </div>
  </section>
  <section>
    <p>Quienes Somos? </p>
    <p>Trabaja con Nosotros!</p>
    <p>Ayuda</p>
  </section>
  <section>
    <p>Formas de Pago</p>
    <p>Consulta tu Compra</p>
    <p>Quejas y Reclamos!</p>
    <p>Copyright © 1999-2022 Estrena</p>
  </section>


</footer>