<header>
  <div class="header-container">
    <a class="icon" href="/">
      <img src="/images/logo-estrena.png" alt="">
    </a>
    <nav>
      <ul>
        <a href="/products/product-creation">Crear Producto</a></li>
        <a href="/users/user-register">Registro de usuario</a></li>
        <a href="/users/user-profile">Perfil de usuario</a></li>
        <a href="/users/logout">Logout de usuario</a></li>
      </ul>
    </nav>
    <div class="controls">
      <div class="searchbar">
        <form action="">
          <input type="text" name="" id="searchBar">
          <button type="submit">
            <img src="https://cdn.icon-icons.com/icons2/2469/PNG/512/magnifier_magnifying_glass_icon_149435.png" alt="">
          </button>
        </form>
      </div>
      <div class="buttons">
        <a href="/products/product-cart">
          <img src="https://cdn-icons-png.flaticon.com/512/1413/1413908.png" alt="">
        </a>
        <a href="/users/user-login">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_userAvatar.svg/2048px-OOjs_UI_icon_userAvatar.svg.png"
            alt="">
        </a>
      </div>
    </div>
  </div>
</header>