<!DOCTYPE html>
<html lang="en">

<!-- se obtiene el head de la carpeta Partials -->
<%- include("../partials/head-users") %>

  <body>
    <!-- se obtiene el header de la carpeta  Partials -->
    <%- include("../partials/header") %>
      <main>
        <form method="GET" action="/users/user-list">
          <div class="register-container">
            <h1>Listado de Usuarios Activos</h1>
            <ul>
              <% for( let i=0; i < users.length; i++ ) { %>
                <li>
                  <a href="perfil-user-detail/<%= users[i].idUser %>">
                    <%= users[i].firstName %>
                  </a>
                </li>
                <% } %>
            </ul>
          </div>

        </form>

      </main>
  </body>

</html>